# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
*.log
.playwright-mcp
# FVM
.fvm/flutter_sdk
.fvm/version
.fvm/versions/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated
lib/gen/
.flutter-plugins-dependencies
